.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #1e1f26;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #f1f1f1;
  padding: 20px;
}

.App-link {
  color: #4ea8ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #1e90ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
